<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center" style="height: 90vh;">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/assets/imagenes/logo.png" alt="Logo empresa" style="height: 20vh">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form  (ngSubmit)="iniciarSesion()" #loginForm="ngForm" autocomplete="off">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg"
              placeholder="Ingresa un correo valido" ngModel name="usuario" required/>
            <label class="form-label">Correo Electronico / Usuario</label>
          </div>
          
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" class="form-control form-control-lg"
              placeholder="Ingresa tu contraseña" ngModel name="pass" required/>
            <label class="form-label">Contraseña</label>
            <div class="row">
              <small class="form-text text-danger text-center" *ngIf="errInicioSesion">
                <div class="alert alert-danger" role="alert">
                  Error en inicio de sesion
                </div>
              </small>
            </div>
          </div>


          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox"/>
              <label class="form-check-label">
                Recordar credenciales
              </label>
            </div>
            <a href="#!" class="text-body">Olvidaste tu contraseña?</a>
          </div>
         
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!validForm()">Iniciar sesión</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Todavia no tienes cuenta? <a href="#!"
                class="link-danger">Registrarse</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between py-4 px-4 px-xl-5 bg-primary" style="height: 10vh;">
    <!-- Copyright -->
    <div class="text-white text-center">
      Copyright © 2022. Todos los derechos reservados.
    </div>
    <!-- Copyright -->
  </div>
</section>