<!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->


<div class="row">
    <div class="col-6">
        <div class="donut-chart-block block"> 
            <h2 class="titular">Procesos de Clientes</h2>
            <div class="donut-chart">
            <!-- PORCIONES GRAFICO CIRCULAR
            ELIMINADO #donut-chart
            MODIFICADO CSS de .donut-chart -->
            <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
            <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
            <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
            <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
            
                    <p class="center-date">Mayo<br><span class="scnd-font-color">2021</span></p>        
            </div>
            <ul class="os-percentages horizontal-list">
                <li>
                    <p class="ios os scnd-font-color">CocaCola</p>
                    <p class="os-percentage">21<sup>%</sup></p>
                </li>
                <li>
                    <p class="mac os scnd-font-color">BBVA</p>
                    <p class="os-percentage">39<sup>%</sup></p>
                </li>
                <li>
                    <p class="linux os scnd-font-color">Mecs Inc.</p>
                    <p class="os-percentage">9<sup>%</sup></p>
                </li>
                <li>
                    <p class="win os scnd-font-color">SHP</p>
                    <p class="os-percentage">31<sup>%</sup></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6 mt-2">
        <!-- BAR CHART BLOCK -->
        <div class="bar-chart-block block">
            <h2 class='titular'>Estadisticas de Usuarios</h2>
            <div class='grafico bar-chart'>
                <ul class='eje-y'>
                    <li data-ejeY='60'></li>
                    <li data-ejeY='45'></li>
                    <li data-ejeY='30'></li>
                    <li data-ejeY='15'></li>
                    <li data-ejeY='0'></li>
                </ul>
                <ul class='eje-x'>
                    <li data-ejeX='37'><i>CocaCola</i></li>
                    <li data-ejeX='56'><i>BBVA</i></li>
                    <li data-ejeX='25'><i>Mecs</i></li>
                    <li data-ejeX='18'><i>SHP</i></li>
                    <li data-ejeX='45'><i>Cliente1</i></li>
                    <li data-ejeX='50'><i>Cliente2</i></li>
                    <li data-ejeX='33'><i>Cliente3</i></li>
                </ul>
            </div>
        </div>
    
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="progress mt-4">
            <div class="progress-bar color-graph-red" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
        <div class="progress mt-4">
            <div class="progress-bar color-graph-blue3" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <div class="progress mt-4">
            <div class="progress-bar color-graph-blue2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <div class="progress mt-4">
            <div class="progress-bar color-graph-orange" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
    </div>
</div>






