<h3>Busqueda por filtros</h3>
<hr>

<form action="">
    <ul class="list-group">
        <li class="custom-control custom-radio list-group-item">
            <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" checked>
            <label class="custom-control-label mx-2" for="defaultGroupExample1">Activos</label>
        </li>
          
          <li class="custom-control custom-radio list-group-item">
            <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
            <label class="custom-control-label mx-2" for="defaultGroupExample2">Inactivos</label>
          </li>
          
          <li class="custom-control custom-radio list-group-item">
            <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
            <label class="custom-control-label mx-2" for="defaultGroupExample3">Listado completo</label>
          </li>
    </ul>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary m-1 w-100">Filtrar</button>
      </div>
</form>