<h3>Busqueda por filtros</h3>
<hr>

<form action="">
    <ul class="list-group">
        <li class="list-group-item"> 
            <input type="checkbox" class="form-check-input" id="exampleCheck1"> 
            <label class="form-check-label" for="exampleCheck1">Activos</label>    
        </li>
        <li class="list-group-item">
            <input type="checkbox" class="form-check-input" id="exampleCheck2"> 
            <label class="form-check-label" for="exampleCheck2">Inactivos</label> 
        </li>
        <li class="list-group-item"> 
            <input type="checkbox" class="form-check-input" id="exampleCheck3"> 
            <label class="form-check-label" for="exampleCheck3">Listado Completo</label> 
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary m-1 w-100">Filtrar</button>
      </div>
</form>