<div class="container" style="height: 90vh;">
    <div class="row">
        <div class="col"><h1 class="text-center">Usuarios</h1></div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#addUsrModal">+ Nuevo Usuario</div>
    </div>
    <div class="row" >
        <div class="col col-3">
            <app-filtros-tabla></app-filtros-tabla>
        </div>
        <div class="col col-9">
            <app-tabla-info></app-tabla-info>
        </div>
    </div>
</div>

<!-- Modal Agregar-->
<div class="modal fade" id="addUsrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         Agregar Registro
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
