<div class="container" style="height: 90vh;">
    <div class="row">
        <div class="col"><h1 class="text-center">Dashboard</h1></div>
    </div>
    <div class="row" >
        <div class="col col-5">
            <div *ngFor="let card of info_cards">
                <app-info-card titulo={{card.titulo}} subtitulo={{card.subtitulo}} cuerpo={{card.cuerpo}}></app-info-card>
            </div>
        </div>
        <div class="col col-7">
            <app-grafica></app-grafica>
        </div>
    </div>
</div>
