<div class="container" style="height: 90vh;">
    <div class="row">
        <div class="col"><h1 class="text-center">Clientes asociados</h1></div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#addClienteModal">+ Nuevo Cliente</div>
    </div>
    <div class="row" >
        <div class="col col-3">
            <app-filtros-tabla></app-filtros-tabla>
        </div>
        <div class="col col-9">
            <app-tabla-info></app-tabla-info>
        </div>
    </div>
</div>

<!-- Modal Agregar Candidato-->
<div class="modal fade" id="addClienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="crearCliente()">
          <div class="row my-2">
            <div class="col">
              <small class="text-danger">Campos obligatorios <span class="text-danger">*</span></small>
            </div>
          </div>
          <h4>Informacion empresarial</h4>
          <hr>
          <div class="row">
            <div class="col">
              <label for="nombreEmp" class="form-label">Nombre de Empresa <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="nombreEmp" formControlName="nombreEmpresa">
            </div>
          </div>
          <div class="row">
            <div class="col">
             <label for="paquete" class="form-label">Paquete <span class="text-danger">*</span></label>
             <select class="form-control" name="" id="paquete" formControlName="idPaquete">
               <option *ngFor="let paquete of catPaquetes" value="{{paquete.idPaquete}}">{{paquete.nombre}}</option>
             </select>
            </div>
          </div>
  
          <h4 class="mt-3">Informacion de contacto</h4>
          <hr>
          <div class="row">
            <div class="col">
              <label for="nombre" class="form-label">Nombre(s) <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="col">
              <label for="apellido1" class="form-label">Apellido paterno <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="apellido1" formControlName="apellidoPaterno">
            </div>
            <div class="col">
              <label for="apellido2" class="form-label">Apellido materno</label>
              <input type="text" class="form-control" id="apllido2" formControlName="apellidoMaterno">
            </div>
           </div>
          <div class="row">
            <div class="col">
             <label for="telefono1" class="form-label">Telefono principal <span class="text-danger">*</span></label>
             <input type="tel" class="form-control" id="telefono1" formControlName="telefono">
            </div>
            <div class="col">
             <label for="telefono2" class="form-label">Telefono secundario</label>
             <input type="tel" class="form-control" id="telefono2" formControlName="telefonoAlternativo">
            </div>
          </div>
          <div class="row">
           <div class="col">
            <label for="correo" class="form-label">Correo electronico</label>
            <input type="mail" class="form-control" id="correo" formControlName="correo">
           </div>
         </div>
         
         <h4 class="mt-3">Informacion de Domicilio</h4>
          <hr>
         <div class="row">
           <div class="col">
             <label for="calle" class="form-label">Calle <span class="text-danger">*</span></label>
             <input type="text" class="form-control" id="calle" formControlName="calle">
           </div>
           <div class="col">
             <label for="calle1" class="form-label">Cruce 1</label>
             <input type="text" class="form-control" id="calle1" formControlName="calleCruza1">
           </div>
           <div class="col">
             <label for="calle2" class="form-label">Cruce 2</label>
             <input type="text" class="form-control" id="calle2" formControlName="calleCruza2">
           </div>
         </div>
         <div class="row">
           <div class="col">
             <label for="numInt" class="form-label">Num. Int.</label>
             <input type="number" class="form-control" id="numInt" formControlName="numInterior">
           </div>
           <div class="col">
             <label for="numExt" class="form-label">Num. Ext. <span class="text-danger">*</span></label>
             <input type="text" class="form-control" id="numExt" formControlName="numExterior">
           </div>
           <div class="col">
             <label for="cp" class="form-label">Codigo postal <span class="text-danger">*</span></label>
             <input type="number" class="form-control" id="cp" formControlName="cp">
           </div>
         </div>
         <div class="row">
           <div class="col">
             <label for="estado" class="form-label">Estado <span class="text-danger">*</span></label>
             <input type="text" class="form-control" id="estado" formControlName="estado">
           </div>
           <div class="col">
             <label for="muni" class="form-label">Municipio <span class="text-danger">*</span></label>
             <input type="text" class="form-control" id="muni" formControlName="municipio">
           </div>
         </div>
         <div class="row">
           <div class="col">
             <span>Valid</span>
             <pre>{{miFormulario.valid}}</pre>
             <span>Pristine</span>
             <pre>{{miFormulario.pristine}}</pre>
             <span>Value</span>
             <pre>{{miFormulario.value | json}}</pre>
             <span>Touched</span>
             <pre>{{miFormulario.touched}}</pre>
           </div>
         </div>

         <div class="modal-footer mt-2">
          <span class="form-text text-danger" *ngIf="miFormulario.invalid">Llena todos los campos requeridos</span>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>