<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">ID Usuario a cargo</th>
        <th scope="col">Cliente enlace</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidato of candidatos" class="text-center">
        <th scope="row">{{candidato.idCandidato}}</th>
        <td>{{candidato.nombre}}</td>
        <td>{{candidato.idUsuario}}</td>
        <td>{{candidato.idCliente}}</td>
        <td>
          <img class="btn" data-bs-toggle="modal" title="Ver detalles" data-bs-target="#detModal" src="assets/imagenes/icons/detail.png" (click)="detRegistro(candidato.idCandidato)">
          <img class="btn" data-bs-toggle="modal" title="Editar" data-bs-target="#editModal" src="assets/imagenes/icons/editing.png" (click)="editRegistro(candidato.idCandidato)">
          <img class="btn" data-bs-toggle="modal" title="Eliminar" data-bs-target="#delModal" src="assets/imagenes/icons/delete.png" (click)="elimRegistro(candidato.idCandidato)">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Detalles-->

  <div class="modal fade" id="detModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles de {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4>Informacion de natalidad</h4>
          <hr>
          <div class="col">
            <b>Fecha de nacimiento:</b><span>{{usuarioSeleccionado.fechaNacimiento}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Lugar de nacimientio:</b><span>{{usuarioSeleccionado.lugarNacimiento}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion personal</h4>
          <hr>
          <div class="col">
            <b>Genero:</b><span>{{usuarioSeleccionado.genero}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estado civil:</b><span>{{usuarioSeleccionado.estadoCivil}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Edad:</b><span>{{usuarioSeleccionado.edad}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estudios:</b><span>{{usuarioSeleccionado.gradoMaxEstudios}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Nombre:</b><span>{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellidoPaterno}} {{usuarioSeleccionado.apellidoMaterno}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de contacto</h4>
          <hr>
          <div class="col">
            <b>Telefono:</b><span>{{usuarioSeleccionado.telefono}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono 2:</b><span>{{usuarioSeleccionado.telefonoAlternativo}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Correo electronico:</b><span>{{usuarioSeleccionado.correo}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de domicilio</h4>
          <hr>
          <div class="col">
            <b>Direccion:</b><span> {{usuarioSeleccionado.calle}} {{usuarioSeleccionado.numInterior}} {{usuarioSeleccionado.numExterior}} {{usuarioSeleccionado.calleCruza1}} {{usuarioSeleccionado.calleCruza2}} {{usuarioSeleccionado.estado}} {{usuarioSeleccionado.municipio}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estado:</b><span>{{usuarioSeleccionado.estatus}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de relacion</h4>
          <hr>
          <div class="col">
            <b>Tiene historial academico?:</b><span>{{usuarioSeleccionado.tieneHistorialAcademico}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>ID Ant. Sociales:</b><span>{{usuarioSeleccionado.idAntecedentesSociales}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>ID Ref. Personales:</b><span>{{usuarioSeleccionado.idReferenciasPersonales}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>ID Inv. Legal:</b><span>{{usuarioSeleccionado.idInvestigacionLegal}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Trabajos no mencionados:</b><span>{{usuarioSeleccionado.tieneTrabajosNoMencionados}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar registro {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form autocomplete="off" [formGroup]="miFormulario">
        <h4>Informacion personal</h4>
        <hr>
        <div class="row">
         <div class="col">
           <label for="nombre" class="form-label">Nombre(s)</label>
           <input type="text" class="form-control" id="nombre" formControlName="nombre">
         </div>
         <div class="col">
           <label for="apellido1" class="form-label">Apellido materno</label>
           <input type="text" class="form-control" id="apellido1" formControlName="apellidoPaterno">
         </div>
         <div class="col">
           <label for="apellido2" class="form-label">Apellido paterno</label>
           <input type="text" class="form-control" id="apllido2" formControlName="apellidoMaterno">
         </div>
        </div>

        <div class="row">
          <div class="col">
           <label for="genero" class="form-label">Genero</label>
           <select class="form-control" name="" id="genero" formControlName="genero">
             <option value="M">M</option>
             <option value="H">H</option>
           </select>
          </div>
          <div class="col">
           <label for="eCivil" class="form-label">Estado civil</label>
           <select class="form-control" name="" id="eCivil" formControlName="estadoCivil">
             <option value="Soltero">Soltero/a</option>
             <option value="Casado">Casado/a</option>
             <option value="Divorciado">DIvorciado/a</option>
             <option value="Viudo">Viudo/a</option>
           </select>
          </div>
        </div>

        <div class="row">
         <div class="col">
           <label for="estudios" class="form-label">Maximo grado de estudios</label>
           <select class="form-control" name="" id="estudios" formControlName="gradoMaxEstudios">
             <option value="Primaria">Primaria</option>
             <option value="Secundaria">Secundaria</option>
             <option value="Preparatoria">Preparatoria</option>
             <option value="Universidad">Universidad</option>
             <option value="Posgrado">Posgrado</option>
           </select>
         </div>
        </div>

        <h4 class="mt-3">Informacion de natalidad</h4>
        <hr>
        <div class="row">
          <div class="col">
           <label for="fechaNac" class="form-label">Fecha de nacimiento</label>
           <input type="date" class="form-control" id="fechaNac" formControlName="fechaNacimiento">
          </div>
          <div class="col">
           <label for="ciudadNat" class="form-label">Cuidad natal</label>
           <input type="text" class="form-control" id="ciudadNat" formControlName="lugarNacimiento">
          </div>
        </div>

        <h4 class="mt-3">Informacion de contacto</h4>
        <hr>
        <div class="row">
          <div class="col">
           <label for="telefono1" class="form-label">Telefono principal</label>
           <input type="tel" class="form-control" id="telefono1" formControlName="telefono">
          </div>
          <div class="col">
           <label for="telefono2" class="form-label">Telefono secundario</label>
           <input type="tel" class="form-control" id="telefono2" formControlName="telefonoAlternativo">
          </div>
        </div>
        <div class="row">
         <div class="col">
          <label for="correo" class="form-label">Correo electronico</label>
          <input type="mail" class="form-control" id="correo" formControlName="correo">
         </div>
       </div>
       
       <h4 class="mt-3">Informacion de Domicilio</h4>
        <hr>
       <div class="row">
         <div class="col">
           <label for="calle" class="form-label">Calle</label>
           <input type="text" class="form-control" id="calle" formControlName="calle">
         </div>
         <div class="col">
           <label for="calle1" class="form-label">Cruce 1</label>
           <input type="text" class="form-control" id="calle1" formControlName="calleCruza1">
         </div>
         <div class="col">
           <label for="calle2" class="form-label">Cruce 2</label>
           <input type="text" class="form-control" id="calle2" formControlName="calleCruza2">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="numInt" class="form-label">Num. Int.</label>
           <input type="number" class="form-control" id="numInt" formControlName="numInterior">
         </div>
         <div class="col">
           <label for="numExt" class="form-label">Num. Ext.</label>
           <input type="text" class="form-control" id="numExt" formControlName="numExterior">
         </div>
         <div class="col">
           <label for="cp" class="form-label">Codigo postal</label>
           <input type="number" class="form-control" id="cp" formControlName="cp">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="estado" class="form-label">Estado</label>
           <input type="text" class="form-control" id="estado" formControlName="estado">
         </div>
         <div class="col">
           <label for="muni" class="form-label">Municipio</label>
           <input type="text" class="form-control" id="muni" formControlName="municipio">
         </div>
       </div>

       <h4 class="mt-3">Informacion relacionada</h4>
        <hr>
       <div class="row">
         <div class="col">
           <label for="estatus" class="form-label">Estatus</label>
           <select name="" id="estatus" class="form-control" formControlName="estatus">
             <option value="1">Activo</option>
             <option value="0">Inactivo</option>
           </select>
         </div>
         <div class="col">
           <label for="histAc" class="form-label">Historial academico</label>
           <select name="" id="estatus" class="form-control" formControlName="tieneHistorialAcademico">
             <option value="1">Si</option>
             <option value="0">No</option>
           </select>
         </div>
         <div class="col">
           <label for="antLab" class="form-label">Ant. Laborales</label>
           <select name="" id="antLab" class="form-control" formControlName="tieneAntecedentesLaborales">
             <option value="1">Si</option>
             <option value="0">No</option>
           </select>
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="antSoc" class="form-label">ID Ante. Sociales</label>
           <input type="number" name="" id="antSoc" class="form-control" formControlName="idAntecedentesSociales">
         </div>
         <div class="col">
           <label for="refPer" class="form-label">ID Ref. Personales</label>
           <input type="number" name="" id="refPer" class="form-control" formControlName="idReferenciasPersonales">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="invLeg" class="form-label">ID Inv. Legal</label>
           <input type="number" name="" id="invLeg" class="form-control" formControlName="idInvestigacionLegal">
         </div>
         <div class="col">
           <label for="traNoMen" class="form-label">Trabajos no mencionados</label>
           <select name="" id="traNoMen" class="form-control" formControlName="tieneTrabajosNoMencionados">
             <option value="1">Si</option>
             <option value="0">No</option>
           </select>
         </div>
       </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminara este registro de forma permanente. Desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>