<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Estatus</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros | paginate: { itemsPerPage: 6, currentPage: page }" class="text-center">
        <th scope="row">{{registro.idUsuario}}</th>
        <td>{{registro.nombre}}</td>
        <td>{{registro.correo}}</td>
        <td>{{registro.estatus}}</td>
        <td>
          <img class="btn" data-bs-toggle="modal" title="Ver detalles" data-bs-target="#detModal" src="/assets/imagenes/icons/detail.png" (click)="detRegistro(registro)">
          <img class="btn" data-bs-toggle="modal" title="Editar" data-bs-target="#editModal" src="/assets/imagenes/icons/editing.png" (click)="editRegistro(registro)">
          <img class="btn" data-bs-toggle="modal" title="Eliminar" data-bs-target="#delModal" src="/assets/imagenes/icons/delete.png" (click)="elimRegistro(registro)">
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>

<!-- Modal Detalles CANDIDATO-->
  <div class="modal fade" id="detModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/candidatos' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion de Candidato: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h4>Informacion de natalidad</h4>
          <hr>
          <div class="col">
            <b>Fecha de nacimiento:</b><span>{{usuarioSeleccionado.fechaNacimiento}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Lugar de nacimientio:</b><span>{{usuarioSeleccionado.lugarNacimiento}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion personal</h4>
          <hr>
          <div class="col">
            <b>Genero:</b><span>{{usuarioSeleccionado.genero}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estado civil:</b><span>{{usuarioSeleccionado.estadoCivil}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Edad:</b><span>{{usuarioSeleccionado.edad}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estudios:</b><span>{{usuarioSeleccionado.gradoMaxEstudios}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Nombre:</b><span>{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellidoPaterno}} {{usuarioSeleccionado.apellidoMaterno}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de contacto</h4>
          <hr>
          <div class="col">
            <b>Telefono:</b><span>{{usuarioSeleccionado.telefono}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono 2:</b><span>{{usuarioSeleccionado.telefonoAlternativo}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Correo electronico:</b><span>{{usuarioSeleccionado.correo}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de domicilio</h4>
          <hr>
          <div class="col">
            <b>Direccion:</b><span> {{usuarioSeleccionado.calle}} {{usuarioSeleccionado.numInterior}} {{usuarioSeleccionado.numExterior}} {{usuarioSeleccionado.calleCruza1}} {{usuarioSeleccionado.calleCruza2}} {{usuarioSeleccionado.estado}} {{usuarioSeleccionado.municipio}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estatus:</b><span>{{usuarioSeleccionado.estatus}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de relacion</h4>
          <hr>
          <div class="col">
            <b>Tiene historial academico?:</b><span>{{usuarioSeleccionado.tieneHistorialAcademico}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>ID Ant. Sociales:</b><span>{{usuarioSeleccionado.idAntecedentesSociales}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>ID Ref. Personales:</b><span>{{usuarioSeleccionado.idReferenciasPersonales}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>ID Inv. Legal:</b><span>{{usuarioSeleccionado.idInvestigacionLegal}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Trabajos no mencionados:</b><span>{{usuarioSeleccionado.tieneTrabajosNoMencionados}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detalles CLIENTE-->
<div class="modal fade" id="detModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/clientes' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion de Cliente: {{usuarioSeleccionado.nombreEmpresa}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <h4 class="">Informacion de contacto</h4>
          <hr>
        <div class="row">
          <div class="col">
            <b>Nombre:</b><span>{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellidoPaterno}} {{usuarioSeleccionado.apellidoMaterno}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono:</b><span>{{usuarioSeleccionado.telefono}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono 2:</b><span>{{usuarioSeleccionado.telefonoAlternativo}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Correo electronico:</b><span>{{usuarioSeleccionado.correo}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de domicilio</h4>
          <hr>
          <div class="col">
            <b>Direccion:</b><span> {{usuarioSeleccionado.calle}} {{usuarioSeleccionado.numInterior}} {{usuarioSeleccionado.numExterior}} {{usuarioSeleccionado.calleCruza1}} {{usuarioSeleccionado.calleCruza2}} {{usuarioSeleccionado.estado}} {{usuarioSeleccionado.municipio}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estatus:</b><span>{{usuarioSeleccionado.estatus}}</span>
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detalles USUARIO-->
<div class="modal fade" id="detModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/usuarios' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion de Usuario: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <h4 class="">Informacion de privilegios</h4>
          <hr>
          <div class="row">
            <div class="col">
              <b>ID permiso:</b><span>{{usuarioSeleccionado.idPermiso}}</span>
            </div>
            <div class="col">
              <b>Tipo de permiso:</b><span>{{usuarioSeleccionado.nombre_permiso}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Alcance de acceso:</b><span>{{usuarioSeleccionado.descripcion}}</span>
            </div>
          </div>
        <h4 class="">Informacion de contacto</h4>
          <hr>
        <div class="row">
          <div class="col">
            <b>Nombre:</b><span>{{usuarioSeleccionado.nombre}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono:</b><span>{{usuarioSeleccionado.telefono}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono 2:</b><span>{{usuarioSeleccionado.telefonoAlternativo}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Correo electronico:</b><span>{{usuarioSeleccionado.correo}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de domicilio</h4>
          <hr>
          <div class="col">
            <b>Direccion:</b><span> {{usuarioSeleccionado.calle}} {{usuarioSeleccionado.numInterior}} {{usuarioSeleccionado.numExterior}} {{usuarioSeleccionado.calleCruza1}} {{usuarioSeleccionado.calleCruza2}} {{usuarioSeleccionado.estado}} {{usuarioSeleccionado.municipio}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estatus:</b><span>{{usuarioSeleccionado.estatus}}</span>
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Detalles LABORATORIO-->
<div class="modal fade" id="detModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/laboratorios' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informacion de Laboratorio: {{usuarioSeleccionado.nombreEmpresa}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="">Informacion de Empresa</h4>
          <hr>
          <div class="row">
            <div class="col">
              <b>Nombre de empresa:</b><span>{{usuarioSeleccionado.nombreEmpresa}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Cedula:</b><span>{{usuarioSeleccionado.cedula}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Firma:</b><span><img src="{{usuarioSeleccionado.firma}}" alt="" style="height: 30vh; width: 50vh;"></span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Encabezado:</b><span>{{usuarioSeleccionado.encabezado}}</span>
            </div>
            <div class="col">
              <b>Pie de pagina:</b><span>{{usuarioSeleccionado.pieDePagina}}</span>
            </div>
          </div>
        <h4 class="">Informacion de contacto</h4>
          <hr>
        <div class="row">
          <div class="col">
            <b>Nombre:</b><span>{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellidoPaterno}} {{usuarioSeleccionado.apellidoMaterno}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono:</b><span>{{usuarioSeleccionado.telefono}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Telefono 2:</b><span>{{usuarioSeleccionado.telefonoAlternativo}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Correo electronico:</b><span>{{usuarioSeleccionado.correo}}</span>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4">Informacion de domicilio</h4>
          <hr>
          <div class="col">
            <b>Direccion:</b><span> {{usuarioSeleccionado.calle}} {{usuarioSeleccionado.numInterior}} {{usuarioSeleccionado.numExterior}} {{usuarioSeleccionado.calleCruza1}} {{usuarioSeleccionado.calleCruza2}} {{usuarioSeleccionado.estado}} {{usuarioSeleccionado.municipio}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b>Estado:</b><span>{{usuarioSeleccionado.estatus}}</span>
          </div>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar CANDIDATO-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/candidatos' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Candidato: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form autocomplete="off">
        <h4>Informacion personal</h4>
        <hr>
        <div class="row">
         <div class="col">
           <label for="nombre" class="form-label">Nombre(s)</label>
           <input type="text" class="form-control" id="nombre" value="{{usuarioSeleccionado.nombre}}">
         </div>
         <div class="col">
           <label for="apellido1" class="form-label">Apellido paterno</label>
           <input type="text" class="form-control" id="apellido1" value="{{usuarioSeleccionado.apellidoPaterno}}">
         </div>
         <div class="col">
           <label for="apellido2" class="form-label">Apellido materno</label>
           <input type="text" class="form-control" id="apllido2" value="{{usuarioSeleccionado.apellidoMaterno}}">
         </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="idUsr" class="form-label">ID Candidato</label>
            <input type="number" class="form-control" id="idUsr" value="{{usuarioSeleccionado.idCandidato}}">
          </div>
          <div class="col">
           <label for="genero" class="form-label">Genero</label>
           <select class="form-control" name="" id="genero">
             <option *ngFor="let genero of catGenero" value="{{genero.descripcion}}">{{genero.descripcion}}</option>
           </select>
          </div>
          <div class="col">
           <label for="eCivil" class="form-label">Estado civil</label>
           <select class="form-control" name="" id="eCivil">
            <option *ngFor="let estadoCivil of catEstadoCivil" value="{{estadoCivil.descripcion}}">{{estadoCivil.descripcion}}</option>
           </select>
          </div>
        </div>

        <div class="row">
         <div class="col">
           <label for="estudios" class="form-label">Maximo grado de estudios</label>
           <select class="form-control" name="" id="estudios">
            <option *ngFor="let grado of catEscolaridad" value="{{grado.descripcion}}">{{grado.descripcion}}</option>
           </select>
         </div>
        </div>

        <h4 class="mt-3">Informacion de natalidad</h4>
        <hr>
        <div class="row">
          <div class="col">
           <label for="fechaNac" class="form-label">Fecha de nacimiento</label>
           <input type="date" class="form-control" id="fechaNac" value="{{usuarioSeleccionado.fechaNacimiento}}">
          </div>
          <div class="col">
           <label for="ciudadNat" class="form-label">Cuidad natal</label>
           <input type="text" class="form-control" id="ciudadNat" value="{{usuarioSeleccionado.lugarNacimiento}}">
          </div>
        </div>

        <h4 class="mt-3">Informacion de contacto</h4>
        <hr>
        <div class="row">
          <div class="col">
           <label for="telefono1" class="form-label">Telefono principal</label>
           <input type="tel" class="form-control" id="telefono1" value="{{usuarioSeleccionado.telefono}}">
          </div>
          <div class="col">
           <label for="telefono2" class="form-label">Telefono secundario</label>
           <input type="tel" class="form-control" id="telefono2" value="{{usuarioSeleccionado.telefonoAlternativo}}">
          </div>
        </div>
        <div class="row">
         <div class="col">
          <label for="correo" class="form-label">Correo electronico</label>
          <input type="mail" class="form-control" id="correo" value="{{usuarioSeleccionado.correo}}">
         </div>
       </div>
       
       <h4 class="mt-3">Informacion de Domicilio</h4>
        <hr>
       <div class="row">
         <div class="col">
           <label for="calle" class="form-label">Calle</label>
           <input type="text" class="form-control" id="calle" value="{{usuarioSeleccionado.calle}}">
         </div>
         <div class="col">
           <label for="calle1" class="form-label">Cruce 1</label>
           <input type="text" class="form-control" id="calle1" value="{{usuarioSeleccionado.calleCruza1}}">
         </div>
         <div class="col">
           <label for="calle2" class="form-label">Cruce 2</label>
           <input type="text" class="form-control" id="calle2" value="{{usuarioSeleccionado.calleCruza2}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="numInt" class="form-label">Num. Int.</label>
           <input type="number" class="form-control" id="numInt" value="{{usuarioSeleccionado.numInterior}}">
         </div>
         <div class="col">
           <label for="numExt" class="form-label">Num. Ext.</label>
           <input type="text" class="form-control" id="numExt" value="{{usuarioSeleccionado.numExterior}}">
         </div>
         <div class="col">
           <label for="cp" class="form-label">Codigo postal</label>
           <input type="number" class="form-control" id="cp" value="{{usuarioSeleccionado.cp}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="estado" class="form-label">Estado</label>
           <input type="text" class="form-control" id="estado" value="{{usuarioSeleccionado.estado}}">
         </div>
         <div class="col">
           <label for="muni" class="form-label">Municipio</label>
           <input type="text" class="form-control" id="muni" value="{{usuarioSeleccionado.municipio}}">
         </div>
       </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="editarRegistro()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar CLIENTE-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/clientes' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Cliente: {{usuarioSeleccionado.nombreEmpresa}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form autocomplete="off">
        <h4>Informacion de contacto</h4>
        <hr>
        <div class="row">
          <div class="col">
            <label for="nombre" class="form-label">NombreEmpresa</label>
            <input type="text" class="form-control" id="nombre" value="{{usuarioSeleccionado.nombreEmpresa}}">
          </div>
        </div>
        <div class="row">
         <div class="col">
           <label for="nombre" class="form-label">Nombre(s)</label>
           <input type="text" class="form-control" id="nombre" value="{{usuarioSeleccionado.nombreEmpresa}}">
         </div>
         <div class="col">
           <label for="apellido1" class="form-label">Apellido paterno</label>
           <input type="text" class="form-control" id="apellido1" value="{{usuarioSeleccionado.apellidoPaterno}}">
         </div>
         <div class="col">
           <label for="apellido2" class="form-label">Apellido materno</label>
           <input type="text" class="form-control" id="apllido2" value="{{usuarioSeleccionado.apellidoMaterno}}">
         </div>
        </div>
        <div class="row">
          <div class="col">
           <label for="telefono1" class="form-label">Telefono principal</label>
           <input type="tel" class="form-control" id="telefono1" value="{{usuarioSeleccionado.telefono}}">
          </div>
          <div class="col">
           <label for="telefono2" class="form-label">Telefono secundario</label>
           <input type="tel" class="form-control" id="telefono2" value="{{usuarioSeleccionado.telefonoAlternativo}}">
          </div>
        </div>
        <div class="row">
         <div class="col">
          <label for="correo" class="form-label">Correo electronico</label>
          <input type="mail" class="form-control" id="correo" value="{{usuarioSeleccionado.correo}}">
         </div>
       </div>
       
       <h4 class="mt-3">Informacion de Domicilio</h4>
        <hr>
       <div class="row">
         <div class="col">
           <label for="calle" class="form-label">Calle</label>
           <input type="text" class="form-control" id="calle" value="{{usuarioSeleccionado.calle}}">
         </div>
         <div class="col">
           <label for="calle1" class="form-label">Cruce 1</label>
           <input type="text" class="form-control" id="calle1" value="{{usuarioSeleccionado.calleCruza1}}">
         </div>
         <div class="col">
           <label for="calle2" class="form-label">Cruce 2</label>
           <input type="text" class="form-control" id="calle2" value="{{usuarioSeleccionado.calleCruza2}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="numInt" class="form-label">Num. Int.</label>
           <input type="number" class="form-control" id="numInt" value="{{usuarioSeleccionado.numInterior}}">
         </div>
         <div class="col">
           <label for="numExt" class="form-label">Num. Ext.</label>
           <input type="text" class="form-control" id="numExt" value="{{usuarioSeleccionado.numExterior}}">
         </div>
         <div class="col">
           <label for="cp" class="form-label">Codigo postal</label>
           <input type="number" class="form-control" id="cp" value="{{usuarioSeleccionado.cp}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="estado" class="form-label">Estado</label>
           <input type="text" class="form-control" id="estado" value="{{usuarioSeleccionado.estado}}">
         </div>
         <div class="col">
           <label for="muni" class="form-label">Municipio</label>
           <input type="text" class="form-control" id="muni" value="{{usuarioSeleccionado.municipio}}">
         </div>
       </div>

       <h4 class="mt-3">Informacion relacionada</h4>
        <hr>
       <div class="row">
       </div>
       <div class="row">
         <div class="col">
           <label for="idUsr" class="form-label">ID usuario</label>
           <input type="number" name="" id="idUsr" class="form-control" value="{{usuarioSeleccionado.idUsuario}}">
         </div>
         <div class="col">
          <label for="idCli" class="form-label">ID cliente</label>
          <input type="number" name="" id="idCli" class="form-control" value="{{usuarioSeleccionado.idCliente}}">
        </div>
        <div class="col">
          <label for="idCan" class="form-label">ID candidato</label>
          <input type="number" name="" id="idCan" class="form-control" value="{{usuarioSeleccionado.idCandidato}}">
        </div>
        <div class="col">
          <label for="idLab" class="form-label">ID laboratorio</label>
          <input type="number" name="" id="idLab" class="form-control" value="{{usuarioSeleccionado.idLaboratorio}}">
        </div>
        <div class="col">
          <label for="idUsrSis" class="form-label">ID usuarioSistema</label>
          <input type="number" name="" id="idUsrSis" class="form-control" value="{{usuarioSeleccionado.idUsuarioSistema}}">
        </div>
        <div class="col">
          <label for="idPaq" class="form-label">ID paquete</label>
          <input type="number" name="" id="idPaq" class="form-control" value="{{usuarioSeleccionado.idPaquete}}">
        </div>
       </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Editar LABORATORIO-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/laboratorios' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Laboratorio: {{usuarioSeleccionado.nombreEmpresa}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form autocomplete="off">
        <h4>Informacion de empresa</h4>
        <hr>
        <div class="row">
          <div class="col">
           <label for="nomEmp" class="form-label">Nombre de empresa</label>
           <input type="text" class="form-control" id="nomEmp" value="{{usuarioSeleccionado.nombreEmpresa}}">
          </div>
          <div class="col">
           <label for="cedula" class="form-label">Cedula</label>
           <input type="text" class="form-control" id="cedula" value="{{usuarioSeleccionado.cedula}}">
          </div>
          <div class="row mt-3">
            <img src="{{usuarioSeleccionado.firma}}" alt="" style="height: 30vh; width: 50vh;">
           </div>
          <div class="row">
            <div class="col">
              <label for="firma" class="form-label">Firma</label>
              <input type="file" class="form-control" id="firma" value="{{usuarioSeleccionado.firma}}">
             </div>
          </div>
        </div>
        <h4 class="mt-3">Informacion de contacto</h4>
        <hr>
        <div class="row">
          <div class="col">
            <label for="nombre" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="nombre" value="{{usuarioSeleccionado.nombre}}">
          </div>
          <div class="col">
            <label for="apellido1" class="form-label">Apellido paterno</label>
            <input type="text" class="form-control" id="apellido1" value="{{usuarioSeleccionado.apellidoPaterno}}">
          </div>
          <div class="col">
            <label for="apellido2" class="form-label">Apellido materno</label>
            <input type="text" class="form-control" id="apllido2" value="{{usuarioSeleccionado.apellidoMaterno}}">
          </div>
        </div>
        <div class="row">
          <div class="col">
           <label for="telefono1" class="form-label">Telefono principal</label>
           <input type="tel" class="form-control" id="telefono1" value="{{usuarioSeleccionado.telefono}}">
          </div>
          <div class="col">
           <label for="telefono2" class="form-label">Telefono secundario</label>
           <input type="tel" class="form-control" id="telefono2" value="{{usuarioSeleccionado.telefonoAlternativo}}">
          </div>
        </div>
        <div class="row">
         <div class="col">
          <label for="correo" class="form-label">Correo electronico</label>
          <input type="mail" class="form-control" id="correo" value="{{usuarioSeleccionado.correo}}">
         </div>
       </div>
       
       <h4 class="mt-3">Informacion de Domicilio</h4>
        <hr>
       <div class="row">
         <div class="col">
           <label for="calle" class="form-label">Calle</label>
           <input type="text" class="form-control" id="calle" value="{{usuarioSeleccionado.calle}}">
         </div>
         <div class="col">
           <label for="calle1" class="form-label">Cruce 1</label>
           <input type="text" class="form-control" id="calle1" value="{{usuarioSeleccionado.calleCruza1}}">
         </div>
         <div class="col">
           <label for="calle2" class="form-label">Cruce 2</label>
           <input type="text" class="form-control" id="calle2" value="{{usuarioSeleccionado.calleCruza2}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="numInt" class="form-label">Num. Int.</label>
           <input type="number" class="form-control" id="numInt" value="{{usuarioSeleccionado.numInterior}}">
         </div>
         <div class="col">
           <label for="numExt" class="form-label">Num. Ext.</label>
           <input type="text" class="form-control" id="numExt" value="{{usuarioSeleccionado.numExterior}}">
         </div>
         <div class="col">
           <label for="cp" class="form-label">Codigo postal</label>
           <input type="number" class="form-control" id="cp" value="{{usuarioSeleccionado.cp}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="estado" class="form-label">Estado</label>
           <input type="text" class="form-control" id="estado" value="{{usuarioSeleccionado.estado}}">
         </div>
         <div class="col">
           <label for="muni" class="form-label">Municipio</label>
           <input type="text" class="form-control" id="muni" value="{{usuarioSeleccionado.municipio}}">
         </div>
       </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar USUARIO-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/usuarios' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form autocomplete="off">
        <h4 class="mt-3">Informacion general</h4>
        <hr>
        <div class="row">
          <div class="col">
            <label for="permiso" class="form-label">Permiso</label>
            <input type="number" class="form-control" id="permiso" value="{{usuarioSeleccionado.idPermiso}}">
            <small class="mb-1 text-primary">Valor del 1 al 5</small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="nombre" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="nombre" value="{{usuarioSeleccionado.nombre}}">
          </div>
          <div class="col">
            <label for="apellido1" class="form-label">Apellido paterno</label>
            <input type="text" class="form-control" id="apellido1" value="{{usuarioSeleccionado.apellidoPaterno}}">
          </div>
          <div class="col">
            <label for="apellido2" class="form-label">Apellido materno</label>
            <input type="text" class="form-control" id="apllido2" value="{{usuarioSeleccionado.apellidoMaterno}}">
          </div>
        </div>
        <div class="row">
          <div class="col">
           <label for="telefono1" class="form-label">Telefono principal</label>
           <input type="tel" class="form-control" id="telefono1" value="{{usuarioSeleccionado.telefono}}">
          </div>
          <div class="col">
           <label for="telefono2" class="form-label">Telefono secundario</label>
           <input type="tel" class="form-control" id="telefono2" value="{{usuarioSeleccionado.telefonoAlternativo}}">
          </div>
        </div>
        <div class="row">
         <div class="col">
          <label for="correo" class="form-label">Correo electronico</label>
          <input type="mail" class="form-control" id="correo" value="{{usuarioSeleccionado.correo}}">
         </div>
       </div>
       
       <h4 class="mt-3">Informacion de Domicilio</h4>
        <hr>
       <div class="row">
         <div class="col">
           <label for="calle" class="form-label">Calle</label>
           <input type="text" class="form-control" id="calle" value="{{usuarioSeleccionado.calle}}">
         </div>
         <div class="col">
           <label for="calle1" class="form-label">Cruce 1</label>
           <input type="text" class="form-control" id="calle1" value="{{usuarioSeleccionado.calleCruza1}}">
         </div>
         <div class="col">
           <label for="calle2" class="form-label">Cruce 2</label>
           <input type="text" class="form-control" id="calle2" value="{{usuarioSeleccionado.calleCruza2}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="numInt" class="form-label">Num. Int.</label>
           <input type="number" class="form-control" id="numInt" value="{{usuarioSeleccionado.numInterior}}">
         </div>
         <div class="col">
           <label for="numExt" class="form-label">Num. Ext.</label>
           <input type="text" class="form-control" id="numExt" value="{{usuarioSeleccionado.numExterior}}">
         </div>
         <div class="col">
           <label for="cp" class="form-label">Codigo postal</label>
           <input type="number" class="form-control" id="cp" value="{{usuarioSeleccionado.cp}}">
         </div>
       </div>
       <div class="row">
         <div class="col">
           <label for="estado" class="form-label">Estado</label>
           <input type="text" class="form-control" id="estado" value="{{usuarioSeleccionado.estado}}">
         </div>
         <div class="col">
           <label for="muni" class="form-label">Municipio</label>
           <input type="text" class="form-control" id="muni" value="{{usuarioSeleccionado.municipio}}">
         </div>
       </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar CANDIDATO-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/candidatos' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Candidato: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminara este registro: {{usuarioSeleccionado.idUsuario}}. Desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="elimRegistroModal()">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Eliminar CLIENTE-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/clientes' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Cliente: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminara este registro: {{usuarioSeleccionado.idUsuario}}. Desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="elimRegistroModal()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar USUARIO-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/usuarios' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario: {{usuarioSeleccionado.nombre}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminara este registro: {{usuarioSeleccionado.idUsuario}}. Desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="elimRegistroModal()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar LABORATORIO-->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="urlAct=='http://localhost:4200/usuario/laboratorios' ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Laboratorio: {{usuarioSeleccionado.nombreEmpresa}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminara este registro: {{usuarioSeleccionado.idUsuario}}. Desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="elimRegistroModal()">Eliminar</button>
      </div>
    </div>
  </div>
</div>